{% macro render_form_field(field) %}
<div class="form-group">
    <label for="{{ field.name }}" class="col-lg-2 control-label">{{ field.label.text }}</label>
    <div class="col-lg-10">
        {{ field(class_='form-control', **kwargs)|safe }}
        <ul>
            {% for error in field.errors %}
                <li style='color:red;'>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro render_args_field(field) %}
<div class="form-group">
    <label for="{{ field.name }}" class="col-lg-2 control-label">{{ field.label.text }}</label>
    <div class="col-lg-3">
        {{ field(class_='form-control', **kwargs)|safe }}
        <ul>
            {% for error in field.errors %}
                <li style='color:red;'>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro render_subfield(field) %}
<div id='target'>
    <div class="form-group form-inline args">
        <label class="col-lg-2 control-label">Arguments 1</label>
        {% for subfield in field %}
            <div class="col-lg-3">
            {{ subfield(class_='form-control', placeholder=subfield.label.text, **kwargs)|safe }}
            </div>
        {% endfor %}
        <div class="input-group-btn">
            <button type='button' onclick='add_arg();' class="btn btn-success btn-sm add"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
</div>
{% endmacro %}
