{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div id="courses" class="list-group">
                <a href="#" class="list-group-item disabled"><strong>COURSES</strong></a>
                <a href="#" class="list-group-item active">   Completed Courses</a>
                <a href="#" class="list-group-item">   Active Courses</a>
            </div>
        </div>
        <div class="col-sm-9">
            <h3>Attend courses</h3>
            {% for c in course %}
            <div class="row">
                <div class="col-sm-9">
                    <div class="well">
                        <h3><a href="/course/{{c.id}}">{{c.title}} - {{c.semester}}</a></h3>
                        <p>Professor: {{c.professor.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <h3>Created Courses</h3>
            {% for c in created_courses %}
            <div class="row">
                <div class="col-sm-9">
                    <div class="well">
                        <h3><a href="/course/{{c.id}}">{{c.title}} - {{c.semester}}</a></h3>
                        <h5>Start date: {{c.startdate}} - End date: {{c.enddate}}</h5>
                        <p>Professor: {{c.professor.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
