{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_render_field.html" import render_field %}
{% from "_render_field.html" import render_form_field %}

{% block app_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="well bs-component">
            <form class="form-horizontal", method="post">
            {{ form.csrf_token }}
            <fieldset>
                <legend>Create New Assignment</legend>
                {{ form.problem.label }}<br>
                {% for p in form.problem.choices %}
                <input type="checkbox" class="form-check-input">{{ p.title }}<br>
                {% endfor %}
                  <ul>
                      {% for error in form.problem.errors %}
                      <li style='color:red;'>{{ error }}</li>
                      {% endfor %}
                  </ul>
                  {{ render_form_field(form.startdate) }}
                  {{ render_form_field(form.enddate) }}
                <p>{{ form.submit() }}</p>
            </fieldset>
        </form>
        </div>
    </div>
</div>


{% endblock %}
