{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Create New Course</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.title.label}}<br>
        {{ form.title(cols=160, rows=40)}}<br>
        {% for error in form.title.errors %}
        <span style='color:red;'>[{{ error }}]</span>
        {% endfor %}
        {{ form.startdate.label}}<br>
        {{ form.startdate(cols=160, rows=40)}}<br>
        {% for error in form.startdate.errors %}
        <span style='color:red;'>[{{ error }}]</span>
        {% endfor %}
        {{ form.enddate.label}}<br>
        {{ form.enddate(cols=80, rows=40)}}<br>
        {% for error in form.enddate.errors %}
        <span style='color:red;'>[{{ error }}]</span>
        {% endfor %}
        {{ form.semester.label}}<br>
        {{ form.semester(cols=80, rows=40)}}<br>
        {% for error in form.semester.errors %}
        <span style='color:red;'>[{{ error }}]</span>
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
</div>

{% endblock %}
