{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Create New Assignment</h1>
<form method="post">
    {{ form.csrf_token }}
    {{ form.problem.label }}<br>
    {% for p in form.problem.choices %}
    <input type="checkbox">{{ p.title }}<br>
    {% endfor %}
      <ul>
          {% for error in form.problem.errors %}
          <li style='color:red;'>{{ error }}</li>
          {% endfor %}
      </ul>
    {{ form.startdate.label}}<br>
    {{ form.startdate(size=48)}}<br>
    {% for error in form.startdate.errors %}
    <span style='color:red;'>[{{ error }}]</span>
    {% endfor %}
    {{ form.enddate.label}}<br>
    {{ form.enddate(size=48)}}<br>
    {% for error in form.enddate.errors %}
    <span style='color:red;'>[{{ error }}]</span>
    {% endfor %}
    <p>{{ form.submit() }}</p>

</form>

</div>

{% endblock %}
