{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_render_field.html" import render_form_field %}
{% from "_render_field.html" import render_subfield %}
{% from "_render_field.html" import render_text %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <form class="form-horizontal", method="post">
                {{ form.csrf_token }}
                {{ proto_form.csrf_token }}
                <fieldset>
                    <legend>Edit Question</legend>
                    {{ render_form_field(form.title, placeholder=form.title.label.text) }}
                    {{ render_form_field(form.question, placeholder=form.question.label.text) }}
                    {{ render_form_field(proto_form.name, placeholder=proto_form.name.label.text) }}
                    {{ render_form_field(proto_form.type, placeholder=proto_form.type.label.text) }}
                    {{ render_form_field(proto_form.items, placeholder=proto_form.items.label.text) }}
                    {% for arg in form.prototype.args %}
                        <label class="col-lg-2 control-label">{{ arg.label }}</label>
                        {{ render_subfield(arg) }}
                    {% endfor %}

                    {% for ex in form.examples %}
                        <label class="col-lg-2 control-label">{{ ex.label }}</label>
                        {{ render_text(ex)}}
                    {% endfor %}
                    <label class="col-lg-2 control-label">Test Cases: </label>
                    {{ render_text(form.testcases) }}

                        <!-- <button type="button" id="Add" class="btn btn-success btn-sm add"><span class="glyphicon glyphicon-plus"></span></button> -->
                        <!-- <button type="button" id="Remove" class="btn btn-danger btn-sm remove"><span class="glyphicon glyphicon-minus"></span></button> -->
                    <br />
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                    <br /><br /><br /><br />
                </fieldset>
                </form>
            </div>
        </div>
</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js">
        type="text/javascript" charset="utf-8"></script>
        <script>
        var textarea = $('#content');

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.getSession().setMode("ace/mode/python");

        function doSubmit(){
            var user_code = editor.getSession().getValue();
            socket.emit('submit_code', {code: user_code});
        }
        var next_row = 2;
        function delete_row(name)
        {
            var element = document.getElementById(name);
            element.parentNode.removeChild(element);
        }
        function add_button()
        {
            var name = "val" + next_row;
            next_row++;
            var new_input = "<div class='col-sm-8 nopadding' id='" + name + "'><div class='form-group'>" +
                            "<input class='form-control' name='" + name + "' type='textarea' />" +
                            "<button type='button' onclick='delete_row(" +'"'  + name + '"' + ");' class='btn btn-danger btn-sm remove'>" +
                            "<span class='glyphicon glyphicon-minus'></span></button></div></div>";
            var parent = document.getElementById('target');
            var child = document.createElement("div");

            child.innerHTML = new_input;
            parent.appendChild(child);
            return 0;
        }
        var cloneCount = 0;
        function add_arg(){
            var newRow = $('#arg').clone();
            cloneCount++ ;
            newRow.attr('id', 'arg' + cloneCount);
            newRow.show();
            var labeltag = newRow.children('label[name="parameter"]');
            labeltag.html("Argument " + cloneCount);
            var pname = newRow.find('input[name="name"]');
            pname.attr('id', 'name' + cloneCount);
            var ptype = newRow.find('select[name="type"]');
            ptype.attr('id', 'type' + cloneCount);
            var pitems = newRow.find('select[name="items"]');
            pitems.attr('id', 'items' + cloneCount);

            var rbutton = newRow.find('button');
            rbutton.click(function(){
                newRow.remove();
            });
            newRow.appendTo('#target');
        }
</script>
{% endblock %}
