{% extends 'base.html' %}

{% block body %}
<table class='table'>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Creator</th>
            <th>Question</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td></td>
            <td><a href="/problem/{{problem.id}}">{{problem.title}}</a></td>
            <td>{{problem.creator_id}}</td>
            <td>{{problem.question}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
